.title {
    background-color:#EFECE3;
    color: #000000;
    min-height: 10vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;    /* Centers vertically */
}

.logo {
  position: absolute;
  top: 2px;
  right: 50px;
  max-height: 10%;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Lucida Sans';
}

/* Style tab links */
.tablink {
  background-color: #4A70A9;
  color: #000000;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 5px;
  font-size: 16px;
  width: 20%;
  font: 'Lucida-Sans';
  font-weight: bold;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #000000;
  display: none;
  padding: 50px 20px;
  height: 100%;
}

table, th, td {
        color: #000000;
        border: 3px solid #4A70A9;
        padding: 20px;
        border-collapse:collapse;
        font: 'Lucida-Sans';
}

.team {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

h3 {
  margin-bottom: 20px;
}

.document {
  display: flex;
  background-color: white;
}

#Home {background-color: #EFECE3}
#ProblemRepository {background-color: #EFECE3}
#ManimVisualizer {background-color: #EFECE3}
#Hackpack {background-color: #EFECE3}
#About {background-color: #EFECE3}