h1 {
    background-color:#e0fbfc;
    color: #293241;
    min-height: 10vh;
    width: 100vw;
    margin: 0;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Lucida Sans';
}

/* Style tab links */
.tablink {
  background-color: #ee6c4d;
  color: #293241;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 16px;
  font-size: 16px;
  width: 20%;
  font: 'Lucida-Sans';
  font-weight: bold;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #293241;
  display: none;
  padding: 50px 20px;
  height: 100%;
}

#Home {background-color: #e0fbfc}
#ProblemRepository {background-color: #e0fbfc}
#ManimVisualizer {background-color: #e0fbfc}
#Hackpack {background-color: #e0fbfc}
#About {background-color: #e0fbfc}